<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<title>넙둥이</title>	
	<link rel="stylesheet" href="css/layout-result.css">
	
</head>
<body>
		
	<header>
			<ul>
				<h1><em>넙둥이</em></h1>
			</ul>

	</header>

	<article>		
		<div class = "signinform">
		<section>
				<form action="/login" method="post">
					<h1>새 계정 만들기</h1>
					<h3>항상 지금처럼 무료로 즐기실 수 있습니다.</h3>
					<label>아이디</label>
					<input type="txt" name="join_id">
			  
					<div class="help">최소 10자 이상으로 입력하세요.</div>
				
					<label>비밀번호</label>
					<input type="password" name="join_password">
					<div class="help">최소 7자 이상으로 입력하세요.</div>
					<label>이름</label>
					<input type="txt" name="name">
					<div class="help"></div>
					<label>전화번호</label>
					<input type="txt" name="phone">
					<div class="help">ex) 010 - xxxx - xxxx</div>
				
					<div class = "right">
						<input type="submit" value="회원가입" name="Join">
					</div>
			
			  </form>

			  
		</section>
		</div>	

		<section>
			
				<h1>로그인</h1>
				<div class ="loginform">
					</div>
						<form action="/login" method="post">
							<label>아이디<span>*</span></label>
							<input type="txt" name="login_id">
					  
							<div class="help"></div>
						
							<label>비밀번호<span>*</span></label>
							<input type="password" name="login_password">
						
							<div class="help"></div>
						
							<div class = "right">
								<input type="submit" value="로그인" name="Login">
							</div>
							<div class = "image">
									<img src="images/Nupdoung.jpg" alt="" style ="width : 24%" max-width="260px" >
									
									<img src="images/Nupdoung.jpg" alt="" style ="width : 24%" max-width="260px" >
									
									<img src="images/Nupdoung.jpg" alt="" style ="width : 24%" max-width="260px" >
									
									<img src="images/Nupdoung.jpg" alt="" style ="width : 24%" max-width="260px" >
									
							</div>
							</form>
					  
				</div>
		</section>
	
	</article>
	<aside>
	<h3></h3>
	<div class = "text">
			<ul>
					<li>경기도 수원시 팔달구 영통구 월드컵로 206</li>
					<li>집중교육2</li>
					<li>기석범, 박주원, 박준민, 이가영</li>
				</ul>
	</div>
		
	</aside>
	<footer>
		<p>Copyright Nupdoung Team of AJou university</p>
	</footer>
</body>
</html>
