<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>Nupdoung</title>	
        <link rel="stylesheet" href="music.css">
        
</head>
<body>
    <header class="head">
        <div class = "A">
            <div class= "B">
                    <div class="top">
                            <img src="images/Nupdoung.jpg" alt=""  class = "image_profile2" style="margin-left : 100px;">
                            <img src="images/mark3.jpg" alt=""  class = "image_mark" style="margin-left : 10px;">
                        </div>
                    <div class="top2" >
                            <form method = "post" action="/viewMy">
                                <h5><input type = "submit" value = "내 게시글" class="right" name = ""></h5>
                            </form>
                            <br>
                            <form method = "post" action="/viewAll">
                                <h5><input type = "submit" value = "전체 게시글" class="right" name = ""></h5>
                            </form>
                            <br>
                            <form method = "post" action="/viewEmotion">
                                <h5><input type = "submit" value = "감정과 같은 게시글" class="right" name = ""></h5>
                            </form>
                            <br>
                            <form method = "post" action="/musiclist">
                                <h5><input type = "submit" value = "음악 플레이 리스트" class="right" name = ""></h5>
                            </form>
                            <br>
                            <form method = "post" action="/logout">
                                <h5><input type = "submit" value = "로그아웃" class="right" name = ""></h5>
                            </form>
                            <br>
                    </div>
            </div>
            
        </div>
    </header>
    <article class = "article">    
            <section class = "section">
                    <div class = "post">
                        <div class="title">      
                            <p>Music  name</p>
                        </div>
                        <div class="music">
                            <p>music BAr</p>
                        </div>
                    </div>
            </section>
    </article>
    
 

   

</body>
</html>